/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Main view setup*/
html {
    min-height: 100%;
    position: relative;
    background-color: #ecf5ff;
    font-size: 62.5%;
    box-sizing: border-box;
    color: #333;
}

/*General styling*/
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Header*/
header {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

/*Game section*/
.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.game-container > * {
    width: 100%;
}

#image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choice {
    display: flex;
    margin-bottom: 0.5rem;
    width: 80%;
    font-size: 0.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;   
}

.choice:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.hidden {
    display: none;
}

.scores {
    display: inline-block;
    padding: 15px;
    font-size: 1.8rem;  
}
